@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  
}

code {
  font-family: 'Raleway', sans-serif;
}


/*Nav Bar*/

.nav-tabs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px, 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-tabs .logo-here {
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
}


/*Nav Bar End*/

